.App {
  height: 100%;
  background-color: #282c34;
}

#VideoAndCommentsContainer{
  top:10px;
  width:70%;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

#RelatedVideosContainer{
  width:28%;
  display:inline-block;
  margin-right:1%;
  margin-top:20px;
  vertical-align: top;
}

#VideoContainer{
  margin-left: 15%;
  height: auto;
}

#commentsHeader{
  text-decoration: underline;
}
.VideoDisplayContainer{
  width:55vw;
  height:30.9375vw;
}

#CommentsContainer{
  display: block;
  margin-left:15%;
}

h3,h4,h5, p{
  color:aliceblue;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
